<div class="cards">
  <div class="card">
    <% if @output.empty? %>
      <h2>Sorry! This zip code is not available.</h2>
    <% else %>
      <h2>Searched Air Quality Index: <%= @final_output %></h2>
      <div class="box  <%= @api_color %>"></div>
      <div><%= @api_description %></div>
    <% end %>
  </div>
  <div class="zip">
    <div>
      <%= render 'navbar'%>
    </div>
    <div>
      <h3>For example</h3>
      <p>Alaska 99501</p>
    </div>
  </div>
</div>

<%= render 'rules' %>
