<div class="cards">
  <div class="card">
    <h2>Searched Air Quality Index <%= @final_output %> </h2>
    <p><%= @api_description %></p>
    <div class="box  <%= @api_color %>"></div>
  </div>
  <div class="card">
    <%= render 'navbar'%>
  </div>
</div>

<%= render 'rules' %>
